<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
    
    
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


</head>
<body>
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="brand">Holodeck</a>
            </div>
        </div>
    </div>
    
<div class="container">
            <h1>Treebook</h1>
    
                <%= yield %>
</div>
<em>Footer</em>
    
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</body>
</html>
